* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
  :root {
    --primary: #23517c;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }

  /*****HEADER************************/

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    z-index: 30;
  }
  
  header.sticky {
    background-color: black;
  }
  
  .hamburger {
    display: none;
  }
  
  .logo {
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 800;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
  }
  
  .nav li {
    list-style: none;
    margin: 0 10px;
  }
  
  .nav li a {
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .nav li:hover a {
    color: var(--primary);
  }

  

  section{
    overflow: hidden;
    min-height: 100vh;
  }

  /***********************BANNER*************************************/
  section.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
  }
  
  section.banner::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

  section.banner .slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  
  section.banner .slider #slideImg {
    width: 100%;
    height: 100%;
    animation: zoom 16s linear infinite;
  }
  
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.3);
    }
  }
  
  section.banner .content {
    position: relative;
    transition: 2s;
    z-index: 20;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  section.banner .content .logo {
    text-transform: uppercase;
  }
  
  section.banner .content img {
    width: 100%;
    height: 100%;
  }
  
  section.banner .content .button {
    position: relative;
  }
  
  section.banner .content .button a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
    background: var(--primary);
    color: #ffffff;
    padding: 6px 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 59px;
  }
  
  section.banner .content .button a:nth-child(2) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  section.banner .content .button a:hover:nth-child(1) {
    background: rgba(0, 0, 0, 0.5);
  }
  
  section.banner .content .button a:hover:nth-child(2) {
    background: var(--primary);
  }
  
  section.banner .content h2 {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin: 10px 0 10px;
    max-width: 800px;
  }
  
  section.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #ffffff;
    margin: 10px 0 20px;
    max-width: 800px;
  }

  /*******************************ABOUT-US****************************************/

  
  section.about-us{
    width: 100%;
    min-height: 100vh;
  }

  section.about-us .content{
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 40px 30px;
  }

  section.about-us .content .title-section {
    font-size: 40px;
    color: #23517c;
    margin-bottom: 30px;
  }

  .about-us .content .content-text{
    width: 50%;
    text-align: justify;
  }

  .content-text p {
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  
  .content-text p span {
    font-weight: bold;
  }
  

  .content .content-image{
    width: calc(40% - 40px);
    background-color: black;
    position: relative;
  }

  .content .content-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .goals{
    width: 100%;
    background-color: var(--primary);
    padding: 20px 30px 30px;
  }

  .goals .title-section{
    font-size: 40px;
    color: 10px;
    margin-bottom: 20px;
    color: #fff;
    margin-bottom: 30px;
  }

  .content-goals {
    display: flex;
    flex-wrap: wrap;
    /* margin: 30px 0; */
  }
  
  .content-goals .card-goals {
    position: relative;
    width: 50%;
    height: 250px;
    font-size: 18px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(image/pic-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    cursor: pointer;
  }
  
  .content-goals .card-goals:hover{
    font-size: 20px; 
    transition: .8s;
    z-index: 15;
  }
  
  .content-goals .card-goals::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
  }
  
  .content-goals .card-goals:nth-child(2) {
    background: url(image/pic-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
  }
  
  .content-goals .card-goals:nth-child(3) {
    background: url(image/pic-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
  }
  
  .content-goals .card-goals:nth-child(4) {
    background: url(image/pic-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
  }
  
  .card-goals p {
    text-align: center;
    padding: 10px;
    z-index: 20;
}

section.activities {
    /* background-color: aquamarine; */
    width: 100%;
    padding: 40px 30px;
}

.activities .title-section, .partners .title-section{
    color: var(--primary);
    font-size: 40px;
    margin-bottom: 30px;
}

section.partners{
    min-height: 100vh;
    width: 100%;
    text-align: center;
}


section.partners .content-partners{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 15px 15px;
    /* background-color: #919191e8; */
}

.content-partners .img-partners{
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 150px;
}

.img-partners img{
    width: 100%;
    height: 100%;
}

section.contact{
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary);
    padding: 40px 30px;
    position: relative;
}

section.contact .title-section{
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
}

section.contact .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.contact .message-contact{
    width : 40%;
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}



.message-contact p{
    margin-bottom: 20px;
}

section.contact .contact-element{
    width: 50%;
    color: #fff;
    font-size: 20px;
}

.contact-element div{
    line-height: 1.5;
    margin-bottom: 15px;
}

.contact-element div i{
    margin-right: 10px;
}

@media screen and (max-width : 1000px) {

  section.banner .content h2 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  /* section.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #ffffff;
    margin: 10px 0 20px;
    max-width: 800px;
  } */

  section.about-us .content{
    width: 100%;
    display: block;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  section.about-us .content .title-section {
    font-size: 38px;
    color: #23517c;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
  }

  .about-us .content .content-text{
    width: 100%;
    text-align: justify;
    padding: 0 30px;
  }

  .content .content-image{
    width: 100%;
    height: 300px;
  }

  .content .content-image img {
    width: 100%;
    height: 100%;
  }

  section.partners .content-partners{
    width: 100%;
}

.content-goals .card-goals {
  position: relative;
  width: 100%;
}

.goals{
  padding: 20px 0px 30px;
}

.goals .title-section, .contact .title-section{
  text-align: center;
}

section.contact .content{
  display: block;
}

section.contact .message-contact{
  width : 100%;
  
}

.message-contact p{
  margin-bottom: 20px;
}

section.contact .contact-element{
  width: 100%;
}
}

@media screen and (max-width : 900px) {

  header{
      padding: 30px 50px;
  }

  header.bg-nav{
      background: black;
  }

  .hamburger{
      display: flex;
      cursor: pointer;
      position : relative;
      justify-content: center;
  }

  .hamburger .line:nth-child(2){
      width: 30px;
      height: 3px;
      background: #ffffff;
      position: absolute;
      transition: 0.5s ease;
  }

  .hamburger .line:nth-child(1){
      bottom: 7px;
      width: 30px;
      height: 3px;
      background: #ffffff;
      position: absolute;
      transition: 0.5s ease;
  }

  .hamburger .line:nth-child(3){
      top: 10px;
      width: 30px;
      height: 3px;
      background: #ffffff;
      position: absolute;
      transition: 0.3s ease;
  }

  .hamburger.active .line:nth-child(1){
      transition: .5s ease-in;    
      transform: rotate(-45deg);
      width: 25px;
      transform-origin: right;
      top: -10px;
  }


  .hamburger.active .line:nth-child(2){
     transform: translateX(15px);
     opacity: 0;
  }

  

  .hamburger.active .line:nth-child(3){
      transition: .5s ease-in;    
      transform: rotate(45deg);
      width: 25px;
      transform-origin: right ;
      top: 8px;
  }
  
  .nav{
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      background: black;
      display: none;
      margin : 0 auto 0 auto;
      text-align: center;
      font-size: 25px;
  }


  .nav.active{
      display: block;
      height : 270px;
      transition: 0.5s;
  }

  .banner{
      flex-direction: column;
      justify-content: space-around;
  }


}